<div class="row">
    <div class="col-md-12" ng-controller="TodoController">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>CheckBox</th>
                <th>Task</th>
                <th>button1</th>
                <th>button2</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-if="tc.todos" ng-repeat="t in tc.todos">
                <th><input type="checkbox"></th>
                <th>{{t.task}}</th>
                <th><button class="btn btn-primary">Edit</button> </th>
                <th><button class="btn btn-danger" ng-click="tc.removeTask(t)">Delete</button> </th>
            </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-3">
                <button class="btn btn-primary" ng-click="tc.addTask()" ng-if="!tc.showAddTask">Add Task</button>
            </div>
            <div class="col-md-6">
                <div class="input-group" ng-if="tc.showAddTask">
                    <input type="text" class="form-control" placeholder="To Do Task" ng-model="tc.tasks.task">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="tc.add()">Add</button>
                    </span>
                </div><!-- /input-group -->
            </div>
        </div>
    </div>
</div>
